@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300&display=swap');

* {
  box-sizing: border-box;
}

body {
  
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
  background-color: azure;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}